<div class="container">
  <div class="card mt-3">
    <div class="card-header d-flex">
      <span class="me-4">File System</span>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li
            class="breadcrumb-item"
            (click)="onBreadcrumbClick(-1)"
            aria-current="page"
          >
            Home
          </li>
          <li
            class="breadcrumb-item"
            *ngFor="let breadcrumb of breadCrumbs; let i = index"
            (click)="onBreadcrumbClick(i)"
          >
            {{ breadcrumb }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <ul class="list-group" *ngIf="objects">
        <li
          class="list-group-item d-flex highlight"
          *ngFor="let item of objects"
          (click)="onObjectChosen(item.displayName, item.type)"
        >
          <div class="me-3">
            <img
              class="type-icon"
              [src]="
                item.type === 1
                  ? '../../../assets/folder.svg'
                  : '../../../assets/file.svg'
              "
              [alt]="item.type === 1 ? 'folder' : 'file'"
            />
          </div>
          <span *ngIf="!item.downloadUrl" class="me-auto">{{
            item.displayName
          }}</span>
          <a
            *ngIf="item.downloadUrl"
            [href]="item.downloadUrl"
            target="_blank"
            class="me-auto"
            >{{ item.displayName }}</a
          >
          <img
            class="action-icon"
            *ngIf="item.type === 0"
            src="../../../assets/delete.svg"
            (click)="onDelete(item.key)"
            alt="delete"
          />
        </li>
      </ul>
      <ul class="list-group" *ngIf="objects.length === 0">
        <li
          class="list-group-item d-flex highlight placeholder-glow"
          *ngFor="let item of randomNumbers"
        >
          <span style="max-width: 25px;" class="placeholder col-1 me-3"></span>
          <span class="placeholder col-{{ item }} me-auto"></span>
          <span class="placeholder col-1"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
